import_Node-RED/import_Nodes.txt
[{"id":"36f0cc33.2e9124","type":"function","z":"2c333588.706bea","name":"split \",\"","func":"var str =  String(msg.payload);\n\nvar str0;\nvar str1;\nvar str2;\nvar str3;\nvar str4;\nvar str5;\nvar str6;\nvar str7;\nvar str8;\nvar str9;\n\nvar res = str.split(\",\");\n\nstr0 = { payload:res[0] } ;\nstr1 = { payload:res[1] } ;\nstr2 = { payload:res[2] } ;\nstr3 = { payload:res[3] } ;\nstr4 = { payload:res[4] } ;\nstr5 = { payload:res[5] } ;\nstr6 = { payload:res[6] } ;\nstr7 = { payload:res[7] } ;\nstr8 = { payload:res[8] } ;\nstr9 = { payload:res[9] } ;\n\nreturn [str0,str1,str2,str3,str4,str5,str6,str7,str8,str9];\n","outputs":"10","noerr":0,"x":330,"y":300,"wires":[["bddde403.e76e58"],["ba7d76da.412cc8"],["7db4ed7e.c59b34"],["47c0aca8.673044"],["b3867cc9.b445f"],[],[],[],[],[]]},{"id":"bddde403.e76e58","type":"debug","z":"2c333588.706bea","name":"","active":false,"console":"false","complete":"false","x":750,"y":60,"wires":[]},{"id":"44693137.00413","type":"modbustcp-read","z":"2c333588.706bea","name":"ESP-Slave","dataType":"HoldingRegister","adr":"0","quantity":"5","rate":"5","rateUnit":"s","server":"4b3785a8.f1510c","x":110,"y":300,"wires":[["36f0cc33.2e9124","c2daf09e.89f27"]]},{"id":"c2daf09e.89f27","type":"debug","z":"2c333588.706bea","name":"","active":true,"console":"false","complete":"false","x":410,"y":100,"wires":[]},{"id":"ba7d76da.412cc8","type":"function","z":"2c333588.706bea","name":"divide into 10","func":"\n/// divide input into 10\nmsg.payload = msg.payload/10; \nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["557f2d84.e26034"]]},{"id":"7db4ed7e.c59b34","type":"function","z":"2c333588.706bea","name":"divide into 10","func":"\n/// divide input into 10\nmsg.payload = msg.payload/10; \nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["2562f120.afc52e","8700144b.2d3da8"]]},{"id":"47c0aca8.673044","type":"function","z":"2c333588.706bea","name":"divide into 10","func":"\n/// divide input into 10\nmsg.payload = msg.payload/10; \nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":440,"wires":[["14cffad.24cef05","96e6dd6c.52031"]]},{"id":"557f2d84.e26034","type":"ui_gauge","z":"2c333588.706bea","name":"","group":"a47f69ac.2deb38","order":1,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":"100","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":220,"wires":[]},{"id":"2562f120.afc52e","type":"ui_gauge","z":"2c333588.706bea","name":"","group":"a47f69ac.2deb38","order":2,"width":0,"height":0,"gtype":"gage","title":"Current ","label":"A","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":300,"wires":[]},{"id":"14cffad.24cef05","type":"ui_gauge","z":"2c333588.706bea","name":"","group":"68e282f3.3ef7ec","order":3,"width":0,"height":0,"gtype":"gage","title":"Power Watts","label":"W","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":440,"wires":[]},{"id":"8849ea10.27e778","type":"ui_gauge","z":"2c333588.706bea","name":"","group":"68e282f3.3ef7ec","order":4,"width":0,"height":0,"gtype":"gage","title":"Energy Now","label":"kWh","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":580,"wires":[]},{"id":"b3867cc9.b445f","type":"function","z":"2c333588.706bea","name":"divide into 1000","func":"\n/// divide input into 1000\nmsg.payload = msg.payload/1000; \nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":580,"wires":[["8849ea10.27e778"]]},{"id":"96e6dd6c.52031","type":"ui_chart","z":"2c333588.706bea","name":"","group":"bf2833ce.04ec5","order":1,"width":0,"height":0,"label":"Power Now Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":860,"y":500,"wires":[[],[]]},{"id":"8700144b.2d3da8","type":"ui_chart","z":"2c333588.706bea","name":"","group":"bf2833ce.04ec5","order":2,"width":0,"height":0,"label":"Current Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":850,"y":360,"wires":[[],[]]},{"id":"dc56cecf.9a71","type":"comment","z":"2c333588.706bea","name":"ESP8266 Slave Modbus TCP/IP","info":"ESP8266 Slave Modbus TCP/IP","x":200,"y":420,"wires":[]},{"id":"8af2ab38.569438","type":"comment","z":"2c333588.706bea","name":"Node-RED Dashboard","info":"Node-RED Dashboard","x":830,"y":160,"wires":[]},{"id":"4b3785a8.f1510c","type":"modbustcp-server","z":"","host":"192.168.0.24","port":"502","unit_id":"1","reconnecttimeout":"4"},{"id":"a47f69ac.2deb38","type":"ui_group","z":"","name":"","tab":"ea2963f7.26856","disp":true,"width":"6"},{"id":"68e282f3.3ef7ec","type":"ui_group","z":"","name":"","tab":"ea2963f7.26856","order":2,"disp":true,"width":"6"},{"id":"bf2833ce.04ec5","type":"ui_group","z":"","name":"","tab":"ea2963f7.26856","order":3,"disp":true,"width":"6"},{"id":"ea2963f7.26856","type":"ui_tab","z":"","name":"PZEM-004 Modbus TCP ESP8266","icon":"dashboard","order":2}]